.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--header); /* Use CSS variable for header background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text); /* Use CSS variable for header text color */
}

.App-link {
  color: var(--link); /* Use CSS variable for link color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-container {
  padding: 20px;
  min-height: 100vh;
  background-color: var(--bg); /* Use CSS variable for background color */
  transition: background-color 0.3s ease;
}
